In [1]:
import pymongo
import pandas as pd
import numpy as np
#import gzip
import urllib.request
from bson import json_util
import os

### csv to json

In [2]:
# download file
urllib.request.urlretrieve("https://zenodo.org/record/5711347/files/ECG_Rhythm_Lead_I.csv?download=1", 
                           "ECG_Rhythm_Lead_I.csv")

('ECG_Rhythm_Lead_I.csv', <http.client.HTTPMessage at 0x7f44a4ad3580>)

In [3]:
csv_name = 'ECG_Rhythm_Lead_I.csv'

In [4]:
df = pd.read_csv(csv_name, index_col=0)

df.shape

(21837, 1006)

In [5]:
# Remove the csv from dir
os.remove(csv_name)

In [6]:
df.head()

,ecg_id,age,sex,height,weight,rhythm_diag,0,1,2,3,...,990,991,992,993,994,995,996,997,998,999
0,1,56.0,1,NaN,63.0,SR,-0.119,-0.116,-0.120,-0.117,...,0.198,0.194,0.115,0.107,0.107,0.106,0.090,0.069,0.086,0.022
1,2,19.0,0,NaN,70.0,OTHER,0.004,-0.020,-0.053,-0.056,...,-0.035,-0.045,0.004,0.044,0.507,0.554,0.316,0.121,-0.326,-0.348
2,3,37.0,1,NaN,69.0,SR,-0.029,-0.035,-0.054,-0.078,...,-0.040,-0.051,-0.026,-0.032,-0.052,-0.039,-0.034,-0.029,-0.048,-0.049
3,4,24.0,0,NaN,82.0,SR,-0.054,-0.053,-0.063,-0.060,...,-0.312,-0.511,-0.280,-0.076,-0.012,0.001,-0.003,0.026,0.026,0.028
4,5,19.0,1,NaN,70.0,SR,-0.034,-0.038,-0.057,-0.066,...,0.005,0.001,0.003,0.013,0.018,-0.001,0.007,0.000,-0.003,-0.012

In [7]:
# find nans
nan_cols = [i for i in df.columns if df[i].isnull().any()]
nan_cols

['age', 'height', 'weight']

In [8]:
# since its only positive value columns - fill nans with -1
df = df.fillna(-1)

In [9]:
df.head()

,ecg_id,age,sex,height,weight,rhythm_diag,0,1,2,3,...,990,991,992,993,994,995,996,997,998,999
0,1,56.0,1,-1.0,63.0,SR,-0.119,-0.116,-0.120,-0.117,...,0.198,0.194,0.115,0.107,0.107,0.106,0.090,0.069,0.086,0.022
1,2,19.0,0,-1.0,70.0,OTHER,0.004,-0.020,-0.053,-0.056,...,-0.035,-0.045,0.004,0.044,0.507,0.554,0.316,0.121,-0.326,-0.348
2,3,37.0,1,-1.0,69.0,SR,-0.029,-0.035,-0.054,-0.078,...,-0.040,-0.051,-0.026,-0.032,-0.052,-0.039,-0.034,-0.029,-0.048,-0.049
3,4,24.0,0,-1.0,82.0,SR,-0.054,-0.053,-0.063,-0.060,...,-0.312,-0.511,-0.280,-0.076,-0.012,0.001,-0.003,0.026,0.026,0.028
4,5,19.0,1,-1.0,70.0,SR,-0.034,-0.038,-0.057,-0.066,...,0.005,0.001,0.003,0.013,0.018,-0.001,0.007,0.000,-0.003,-0.012

In [10]:
jsons_path = '../init-mongodb/data/'

In [18]:
# create a dict (to be document) per row and add to a json file
## split into two json files due to git 100mb limit

with open(os.path.join(jsons_path, '1.json'), "w") as f:
    for i in df.index[:N//2]:
        row_dict = {
            "ecg_id": int(df.loc[i,"ecg_id"]),
            "age": float(df.loc[i,"age"]),
            "sex": float(df.loc[i,"sex"]),
            "height": float(df.loc[i,"height"]),
            "rhythm_diag": df.loc[i,"rhythm_diag"],
            "time-series": [float(df.loc[i, f'{ii}']) for ii in range(1000)]}
        js = json_util.dumps(row_dict)
        f.write(js)
        f.write('\n')

with open(os.path.join(jsons_path, '2.json'), "w") as f:
    for i in df.index[N//2:]:
        row_dict = {
            "ecg_id": int(df.loc[i,"ecg_id"]),
            "age": float(df.loc[i,"age"]),
            "sex": float(df.loc[i,"sex"]),
            "height": float(df.loc[i,"height"]),
            "rhythm_diag": df.loc[i,"rhythm_diag"],
            "time-series": [float(df.loc[i, f'{ii}']) for ii in range(1000)]}
        js = json_util.dumps(row_dict)
        f.write(js)
        f.write('\n')

KeyboardInterrupt:

In [ ]:
# f_in = open(json_path)
# f_out = gzip.open(f'{json_path}.gz', 'wt')
# f_out.writelines(f_in)
# f_out.close()
# f_in.close()

In [13]:
# create sh script

with open('../init-mongodb/init_db.sh', 'w') as f:
    f.write('#!/bin/bash\n')
    f.write('echo "########### Loading data to Mongo DB ###########"\n')
    #f.write('gunzip /tmp/data/data.json.gz\n')
    f.write(f'mongoimport --db ecg_db --collection patients --file /tmp/data/1.json\n')
    f.write(f'mongoimport --db ecg_db --collection patients --file /tmp/data/2.json\n')

### or import to mongo

In [ ]:
#client = pymongo.MongoClient("localhost", 2717)

In [ ]:
#client.list_database_names()

In [ ]:
# New collection
#ecg_db = client["ecg_data"]

In [ ]:
#mycol = ecg_db["patients"]

In [ ]:
#x = mycol.insert_many(row_dicts)

In [ ]:
#ecg_db.list_collection_names()

In [ ]:
#ecg_db["patients"].find_one()